/* Headers */
.p1 {
	color: MidnightBlue;
	font-size: 50px;
	font-family: papyrus, Lucida Handwriting, cursive, fantasy;
	font-stretch: expanded;
	font-weight: 900;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}
/* Body Text */
.p2 {
	color: ForestGreen;
	font-size: 20px;
	border: 20px solid transparent;
	border-image: url('Body Text Boarder.png') 20 20 round;
	padding: 10px;
	margin-left: 300px;
	margin-right: 300px;
	text-indent: 50px;
}
/* Navigation Bar */
.p3 {
	color: MidnightBlue;
	font-size: 35px;
	font-family: cursive, fantasy;
	font-stretch: expanded;
	font-weight: 900;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	word-spacing: 1px;
	font-variant: small-caps;
}
/*Bullet Points*/
ul {
	list-style-type: square;
	list-style-image: url("Bullet Point.png");	
}
/*Gallery Border*/
.gallery {
	text-align: center;
	width: 1355px;
	height: 1000px;
	margin-top: 35px;
	margin-left: 250px;
	background-color: #faebd7;
    border: 2px solid black;
    border-radius: 5%;
}

/*Gallery Pics*/
.gallery .galpic:nth-child(-n+9) {
    float: left;
    width: 180px;
    height: 260px;
	margin-left: 34px;
	margin-bottom: 130px;
    border: 3px solid black;
    cursor: pointer;
}

.gallery .galpic:nth-child(-n+9) img {
	width: 180px;
    height: 260px;
}

